<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Panel de <%= rol %>
    </title>
    <link href="/stylesheets/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome"
        href="/css/app-wa-4605c815f1874757bc9ac33aa114fb0f.css?vsn=d">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v5.15.4/css/all.css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="/stylesheets/sb-admin-2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>


</head>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-text mx-3">
                    <%= rol %>
                </div>
            </a>
            <hr class="sidebar-divider my-0">

            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Interfaz
            </div>
            <li class="nav-item active">
                <a class="nav-link" href="/estadisticas">
                    <i class="fas fa-tachometer-alt-average"></i>
                    <span>Panel</span></a>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/admin_panel">
                    <i class="fas fa-user fa-chart-area"></i>
                    <span>Usuarios</span></a>
            </li>
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/calles_panel">
                    <i class="fas fa-road"></i>
                    <span>Calles y Familias</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/inventario_panel">
                    <i class="fas fa-box"></i>
                    <span>Inventario</span></a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="/pagos_panel">
                    <i class="fas fa-credit-card"></i>
                    <span>Pagos</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ayuda">
                    <i class="fa fa-question-circle"></i>
                    <span>Ayuda</span></a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="fas fa-envelope"></i>
                    <span>Notificaciones</span></a>
            </li>-->


            <!-- Nav Item - Tables 
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>
-->
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                <img class="img-profile rounded-circle"
                                    src="https://i.pinimg.com/736x/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logoutAdmin" data-toggle="modal"
                                    data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesión
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <div class="container-fluid">
                    <h1 class="h3 mb-2 text-gray-800">Bienvenido/a</h1>
                    <!-- Añadir un row para alinear las tarjetas en columnas -->
                    <div class="card" style="width: 18rem; border-left: 6px solid rgb(199, 55, 55);">
                        <div class="card-body" style="display: flex; flex-direction: column;">
                            <div class="title" style="display: flex; align-items: center;  font-size: 1.3rem; gap: 5px;">
                                <i class="fas fa-dollar-sign"></i>
                                <span>Ganancias totales</span>
                            </div>
                            <div class="value" style="display: flex; flex-direction: column;">
                                <div class="content" style="font-size: 1.2rem; margin-top: 10px; display: flex; justify-content: center; align-items: center; margin-right: .8rem;">
                                <img src="https://seeklogo.com/images/B/BCV_Banco_Central_de_Venezuela-logo-DA7C041FA1-seeklogo.com.png" alt="bcv" width="40px" height="40px" style="width: max-content;"> 
                                <span>BCV</span>
                                </div>
                                <div class="content-bcv" style="margin-top: .5rem;">
                                    <span>Tasa: <%= tasa %></span><br>
                                    <span>Bolivares: <%= totalPagosAprobados %> BsS</span><br>
                                    <span>Bolivares/USD: <%= bcv %> $</span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        
                        <div class="col-md-4">
                            <div class="card shadow mb-4">
                                
                                <div class="card-body">
                                    <p class="font-weight-bold"><i class="fas fa-user mr-2"></i>Usuarios</p>
                                    <canvas id="userChart" width="150" height="150"></canvas>
                                </div>
                            </div>
                        </div>
                
                        <!-- Columna para el gráfico de pagos -->
                        <div class="col-md-4">
                            <div class="card shadow mb-4">
                                
                                <div class="card-body">
                                    <p class="font-weight-bold"><i class="fas fa-credit-card mr-2"></i>Pagos</p>
                                    <canvas id="paymentChart" width="150" height="150"></canvas>
                                </div>
                            </div>
                        </div>
                        <!-- Columna para el gráfico de inventario -->
                        <div class="col-md-4">
                            <div class="card shadow mb-4">
                                
                                <div class="card-body">
                                    <p class="font-weight-bold"><i class="fas fa-box mr-2"></i>Inventario</p>
                                    <canvas id="inventarioChart" width="150" height="150"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Gobierno Bolivariano de Guarico 2024</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro de cerrar sesión?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión
                    actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="/logoutAdmin">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/jquery.easing.min.js"></script>
    <script src="/javascripts/sb-admin-2.min.js"></script>
    <script>
        // Obtener los datos pasados desde el servidor
        let usuariosPorRol = <%- JSON.stringify(usuariosPorRol) %>;
    
        // Procesar los datos para Chart.js
        let labels = usuariosPorRol.map(item => {       
            if (item.rol === 'Administrador') return 'Administrador';
            if (item.rol === 'Líder de Calle') return 'Líder de Calle';
            return 'Ciudadano';
        });
    
        let data = usuariosPorRol.map(item => item.cantidad);
    
        // Configurar los datos para Chart.js
        let usuarios = {
            labels: labels,
            datasets: [{
                label: 'Número de Usuarios',
                data: data, // Los datos dinámicos de la consulta
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 1
            }]
        };
    
    
        let pagosPorEstado = <%- JSON.stringify(pagosPorEstado) %>;
    
        // Procesar los datos para Chart.js
        let labelsPagar = ['Sin Pagar', 'Pendiente', 'Aprobado', 'Rechazado'];
        let dataPagar = [
            pagosPorEstado.sin_pagar,
            pagosPorEstado.pendientes,
            pagosPorEstado.aprobados,
            pagosPorEstado.rechazados
        ];
    
        // Configurar los datos para Chart.js
        let pagos = {
            labels: labelsPagar,
            datasets: [{
                label: 'Estado de los Pagos',
                data: dataPagar,
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        };
    
        // Crear el gráfico de pagos
        let ctxPayment = document.getElementById('paymentChart').getContext('2d');
        let paymentChart = new Chart(ctxPayment, {
            type: 'bar', // Puedes cambiar a 'pie', 'line', etc.
            data: pagos,
            options: {
        scales: {
            y: {
                beginAtZero: true,
                ticks: {
                    // Este callback asegura que solo se muestren números enteros
                    callback: function(value) {
                        if (Number.isInteger(value)) {
                            return value;
                        }
                    }
                }
            }
        }
    }
        });
    
        // Crear el gráfico
let ctx = document.getElementById('userChart').getContext('2d');
new Chart(ctx, {
    type: 'pie',
    data: usuarios,
    options: {
        plugins: {
            datalabels: {
                color: '#000',
                font: {
                    weight: 'normal',
                    size: 14 
                },
                formatter: (value) => value 
            }
        }
    },
    plugins: [ChartDataLabels] 
});
        let inventario = <%- JSON.stringify(inventario) %>;

        let labelsInventario = inventario.map(item => item.tipo);
        let dataInventario = inventario.map(item => item.cantidad_disponible);

            // Configurar los datos para Chart.js
        let inventarioData = {
            labels: labelsInventario,
            datasets: [{
                label: 'Cantidad Disponible',
                data: dataInventario,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
 
        };

            // Crear el gráfico de inventario
        let ctxInventario = document.getElementById('inventarioChart').getContext('2d');
        let inventarioChart = new Chart(ctxInventario, {
        type: 'line',
        data: inventarioData,
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    
                }
            }
        }
    });
    </script>
    



</body>

</html>