<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Panel de <%= rol %>
    </title>
    <link href="/stylesheets/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome"
        href="/css/app-wa-4605c815f1874757bc9ac33aa114fb0f.css?vsn=d">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v5.15.4/css/all.css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="/stylesheets/sb-admin-2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">

                <div class="sidebar-brand-text mx-3">
                    <%= rol %>
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interfaz
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/estadisticas">
                    <i class="fas fa-tachometer-alt-average"></i>
                    <span>Panel</span></a>
            </li>
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/admin_panel">
                    <i class="fas fa-user fa-chart-area"></i>
                    <span>Usuarios</span></a>
            </li>
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/calles_panel">
                    <i class="fas fa-road"></i>
                    <span>Calles y Familias</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/inventario_panel">
                    <i class="fas fa-box"></i>
                    <span>Inventario</span></a>
            </li>



            <li class="nav-item active">
                <a class="nav-link" href="/pagos_panel">
                    <i class="fas fa-credit-card"></i>
                    <span>Pagos</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ayuda">
                    <i class="fa fa-question-circle"></i>
                    <span>Ayuda</span></a>
            </li>
        <!--
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="fas fa-envelope"></i>
                    <span>Notificaciones</span></a>
            </li>-->


            <!-- Nav Item - Tables 
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>
-->
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">...</span>
                                <img class="img-profile rounded-circle"
                                    src="https://i.pinimg.com/736x/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logoutAdmin" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesión
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <div class="container-fluid">
                    <h1 class="h3 mb-2 text-gray-800">Bienvenido/a..</h1>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tabla de Pagos</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Jefe/a de Hogar</th>
                                            <th>Líder de Calle</th>
                                            <th>Nombre de Calle</th>
                                            <th>Nº de Casa</th>
                                            <th>Fecha</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% usuario.forEach(user => { %>
                                            <tr>
                                                <td>
                                                    <%= user.pago_id %>
                                                </td>
                                                <td>
                                                    <%= user.jefe %>
                                                </td>
                                                <td>
                                                    <%= user.lider %>
                                                </td>
                                                <td><%= user.nombre_calle %></td> 
                                                <td><%= user.direccion_jefe %></td>
                                                <td>
                                                    <%= user.fecha %>
                                                </td>
                                                <td>
                                                    <% if (user.estado == 'Pendiente') { %>
                                                        <a href="" class="btn btn-warning" style="pointer-events: none;"><%= user.estado %></a>
                                                    <% } else if (user.estado == 'Aprobado') { %>
                                                        <a href="" class="btn btn-success" style="pointer-events: none;"><%= user.estado %></a>
                                                    <% } else if (user.estado == 'Rechazado') { %>
                                                        <a href="" class="btn btn-danger" style="pointer-events: none;"><%= user.estado %></a>
                                                    <% } %>
                                                </td>
                                                <td style="text-align: center;margin-top: 1rem;">
                                                    <div class="position-view" style="display: flex; gap: 2px;">
                                                        <a style="display: flex; gap: 5px; align-items: center; cursor: pointer; padding: .5rem .6rem; color: white; background-color: rgb(226, 43, 43); border-radius: .4rem;"
                                                            data-toggle="modal"
                                                            data-target="#mostrar<%= user.pago_id %>">
                                                        <li class="fas fa-eye"></li> Mostrar
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <% usuario.forEach(user=> { %>
                <div class="modal fade" id="mostrar<%= user.pago_id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Detalles del pago</h4>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p style="font-size: 1.1rem; margin-bottom: 1px;">Referencia del pago: <%= user.referencia_pago %></p>
                                <p style="font-size: 1.1rem; margin-bottom: 1px;">Cantidad: <%= user.cantidad %></p>
                                <p style="font-size: 1.1rem;">Precio a pagar: <%= user.precio_total %> bolívares</p>
                                <img src="<%= user.imagen_comprobante %>" alt="" style="width: 100%; margin-bottom: .4rem;">
                            </div>
                            <% if (user.estado !== 'Aprobado' && user.estado !== 'Rechazado') { %>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                    <a id="aprobar" class="btn btn-success" href="/aprobar/<%= user.pago_id %>">Aprobar</a>
                                    <a id="rechazar" class="btn btn-danger" href="/rechazar/<%= user.pago_id %>">Rechazar</a>
                                </div>
                            <% } %>

                        </div>
                    </div>
                </div>
            <% }) %>


                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright &copy; Gobierno Bolivariano de Guarico 2024</span>
                            </div>
                        </div>
                    </footer>
                    <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro de cerrar sesión?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión
                    actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="/logoutAdmin">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/jquery.easing.min.js"></script>
    <script src="/javascripts/sb-admin-2.min.js"></script>
    <script src="/javascripts/Chart.min.js"></script>
    <script src="/javascripts/chart-area-demo.js"></script>
    <script src="/javascripts/chart-pie-demo.js"></script>
    <script>
        const aprobarBtns = document.querySelectorAll('.btn-success');
        const rechazarBtns = document.querySelectorAll('.btn-danger');
        aprobarBtns.forEach((btn) => {
            btn.addEventListener('click', async (e) => {
                e.preventDefault();
                const pagoId = btn.getAttribute('href').split('/').pop();
    
                const response = await fetch(`/aprobar/${pagoId}`);
                const result = await response.json();
    
                if (response.status === 200) {
                    Swal.fire({
                        icon: 'success',
                        title: result.message,
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.reload();
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error al aprobar el pago',
                        showConfirmButton: true
                    });
                }
            });
        });
    
        rechazarBtns.forEach((btn) => {
            btn.addEventListener('click', async (e) => {
                e.preventDefault();
                const pagoId = btn.getAttribute('href').split('/').pop();
    
                const response = await fetch(`/rechazar/${pagoId}`);
                const result = await response.json();
    
                if (response.status === 200) {
                    Swal.fire({
                        icon: 'error',
                        title: result.message,
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.reload(); 
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error al rechazar el pago',
                        showConfirmButton: true
                    });
                }
            });
        });
    </script>
    
    
</body>

</html>
